<div class="content">
    <h3><a href="{{ .URL }}">{{ .Title }}</a></h3>
    <div class="meta">
        {{ if ( .Params.showDate | default true ) }}
            {{ if (.Site.Params.enableMomentJs | default true ) }}
                <span class="date moment">{{ .PublishDate.Format "2006-01-02" }}</span>
            {{ else }}
                <span class="date">{{ .PublishDate.Format (.Site.Params.DateFormat | default "2006-01-02") }}</span>
            {{ end }}
        {{ end }}

        {{ if (.Site.Params.showReadingTime | default false ) }}
            <span class="readingTime">{{ i18n "readingTime" .ReadingTime }}</span>
        {{ end }}

        {{ with .Params.categories }}
            <span class="categories">
                {{ range . }}
                    <a href="{{ (print "/categories/" ( . | urlize)) | relLangURL }}">{{ . }}</a>
                {{ end }}
            </span>
        {{ end }}

        {{ with .Params.author }}
            <span class="author"><a href="{{ (print "/author/" (. | urlize)) | relLangURL }}">{{ . }}</a></span>
        {{ end }}
    </div>

    {{ if or (.Scratch.Get "singlePage") (.Params.noSummary) }}
        {{ .Content }}
        <div class="addthis_inline_share_toolbox"></div>
    {{ else }}
        {{ .Summary }}

        {{ if .Truncated }}
            <a href="{{ .URL }}" class="more">{{ i18n "continueReading" }}</a>
        {{ end }}
    {{ end }}
    
        <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bb526285e35b4df"></script>
</div>
